<?xml version="1.0"?>
<robot name="racket" xmlns:xacro="http://ros.org/wiki/xacro">
    <material name="racket_colour">
        <color rgba="0.4 0.3 0.1 1"/>
    </material>

    <gazebo reference="tt_racket_link">
        <material>Gazebo/Wood</material>
    </gazebo>

    <gazebo reference="tt_racket_sponge_1_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="tt_racket_sponge_2_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tt_racket_handle_link">
        <material>Gazebo/Wood</material>
    </gazebo>

    <link name="tt_racket_center_link"/>

    <link name="tt_racket_link">
        <inertial>
            <mass value="0.08"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia  ixx="0.00011250959999999999" ixy="0" ixz="0" iyy="0.00011250959999999999" iyz="0" izz="0.000225" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.075" length="0.0012"/>
            </geometry>
            <material name="racket_colour"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.075" length="0.0015"/>
            </geometry>
        </collision>
    </link>

    <joint name="tt_racket_joint" type="fixed">
        <parent link="tt_racket_center_link"/>
        <child link="tt_racket_link"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="tt_racket_sponge_1_link">
        <inertial>
            <mass value="0.01"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia  ixx="1.4062575000000001e-05" ixy="0" ixz="0" iyy="1.4062575000000001e-05" iyz="0" izz="2.8125e-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.075" length="0.0003"/>
            </geometry>
        </visual>
    </link>

    <joint name="tt_racket_sponge_1_joint" type="fixed">
        <parent link="tt_racket_link"/>
        <child link="tt_racket_sponge_1_link"/>
        <origin xyz="0 0 0.0006" rpy="0 0 0" />
    </joint>

    <link name="tt_racket_sponge_2_link">
        <inertial>
            <mass value="0.01"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia  ixx="1.4062575000000001e-05" ixy="0" ixz="0" iyy="1.4062575000000001e-05" iyz="0" izz="2.8125e-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.075" length="0.0003"/>
            </geometry>
        </visual>
    </link>

    <joint name="tt_racket_sponge_2_joint" type="fixed">
        <parent link="tt_racket_link"/>
        <child link="tt_racket_sponge_2_link"/>
        <origin xyz="0 0 -0.0006" rpy="0 0 0" />
    </joint>

    <link name="tt_racket_handle_link">
        <inertial>
            <mass value="0.05"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia  ixx="4.166979166666667e-05" ixy="0" ixz="0" iyy="4.166979166666667e-05" iyz="0" izz="3.30625e-06" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.0115" length="0.098"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <!-- <cylinder radius="0.0115" length="0.098"/> -->
                <box size="0.0115 0.0115 0.098"/>
            </geometry>
        </collision>
    </link>

    <joint name="tt_racket_handle_joint" type="fixed">
        <parent link="tt_racket_link"/>
        <child link="tt_racket_handle_link"/>
        <origin xyz="-0.1 0 0" rpy="0 1.57 0" />
    </joint>

    <gazebo reference="tt_racket_handle_link">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kd>100</kd>
        <kp>500000000000</kp>
        <minDepth>0</minDepth>
        <maxVel>666</maxVel>
    </gazebo>

    <gazebo>
        <plugin name="racket_position_plugin" filename="libgazebo_ros_p3d.so">
            <ros>
                <namespace>p3d</namespace>
                <remapping>odom:=racket_odom</remapping>
            </ros>
            <frame_name>map</frame_name>
            <body_name>tt_racket_center_link</body_name>
            <update_rate>1.0</update_rate>
            <gaussian_noise>0.0</gaussian_noise>
        </plugin>
    </gazebo>

    <gazebo>
        <static>false</static>
    </gazebo>

</robot>

